.musicbar-volume_comtanier {
    position: relative;
    width: $volume-width;
    height: 100px;
    margin: auto $common-margin auto 10px ;

    & .musicbar-volume_slider {
        -webkit-appearance: none;
        @include set-volume-slider;
        z-index: 4;
        @include vertical-center;
    }

    & .musicbar-volume_track {
        @include set-volume-slider;
        background-color: #8482e1;
        border-radius: 10px;
        @include vertical-center;
    }
}



.musicbar-volume_comtanier:hover input[type="range"]::-webkit-slider-thumb {
    @include set-slider-thumb;
    position: relative;
    z-index: 10;
}


// 볼륨 슬라이더 thumb
// .musicbar-volume_slider_thumb {
//     position: absolute;
//     top: 39px;
//     width: 19px;
//     height: 19px;
//     border: 1px solid $main-color;
//     border-radius: 50%;
//     background: #ffffff8a;
//     box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
//     z-index: 5;
// }

// 볼륨
.musicbar-volume_slide {
    position: absolute;
    width: 0;
    background-color: $main-color;
    @include set-volume-slider;
    z-index: 1;
    @include vertical-center;
    border-radius: 20px;
}


.musicbar-volume_icon {
    @include volume-n-music_list-icon;
    margin: auto 5px auto $common-margin;
}


.musicbar-music_list_container {
    display: flex;
    @include volume-n-music_list-icon;
    height: 90px;
    margin: auto $common-margin*2;
    align-items: center;
    margin-top: 8px;
    cursor: pointer;
}
