.musicbar-slider_container {
    width: 800px;
    height: 100px;
    margin: auto $common-margin*2;

    & .musicbar-time {
        @include set-music-time;
    }

    & .musicbar-time:last-child {
        @include set-music-time;
        margin-left: 760px;
    }

    & .musicbar-slider {
        @include set-slider-range;
        -webkit-appearance: none;
        // 희안하게 input은 1px씩 빼야 맞는다..
        margin-left: $slider-range-margin - 1;
        z-index: 4;
    }

    & .musicbar-range_track {
        @include set-slider-range;
        margin-left: $slider-range-margin;
        background-color: #8482e1;

    }
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.musicbar-slider_container:hover input[type="range"]::-webkit-slider-thumb {
    @include set-slider-thumb;
}
