.musicbar-slider_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 710px;
    height: 100px;
    margin: auto $common-margin;

    .musicbar-slide_container {
        width: 670px;
        height: 100px;
        margin-left: 25px;

        & .musicbar-time_container {
            height: 100px;

            & .musicbar-time {
                position: relative;
                margin: auto 0px;
            }
        }

        & .musicbar-time:last-child {
            position: relative;
        }


        // 움직이는 슬라이더 부분
        & .musicbar-slider {
            @include set-slider-range;
            -webkit-appearance: none;
            z-index: 4;
        }

        & .musicbar-range_track {
            @include set-slider-range;
            background-color: #8482e1;
        }
    }
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

// @mixin set-slider-thumb {
//     width: 20px;
//     height: 20px;
//     border: 1px solid $main-color;
//     border-radius: 50%;
//     background: #ffffff8a;
//     box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
//   }

.musicbar-slider_container:hover input[type="range"]::-webkit-slider-thumb {
    // width: 20px;
    // height: 20px;
    // border: 1px solid #ffffff00;
    // background: #ffffff00;
    @include set-slider-thumb;
    position: relative;
    z-index: 10;
}

.musicbar-slide {
    position: absolute;

    background-color: $main-color;
    @include set-slider-range;
    width: 100%;
    z-index: 1;
}
