// layout variable /////////////
$border-radius: 10px;
$box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
///////////////////////////////




//main colors ////////////////
$light-main-color: #fff;
$light-sub-color: #e5e5e5;

$dark-main-color:#000;
$dark-sub-color: #181818;



$main-color: #231edc;
$main-color-hover:#3029ff;

$main-color2: #aff7d4;
$main-color2-hover:#c2fcdf;
//////////////////////////////



$footer-padding : 20px;

$sidebar-width : 230px;

// font variable

$album-title-font-size: 1.1vw; 


//header components margin variable
$header-margin: 10px; 


///////////////////////////////
//////////music_bar///////////
////////////////////////////

// music bar margin
$common-margin : 1.0526vw;

// music play buttons top
$button-top : 20px;

// slider range margin
$slider-range-margin : 45px;

//volume width
$volume-width : 10vw;

// music time top
$music-time-top : 42px;


///////////////////////////////
//////////hover///////////
////////////////////////////

$transition-time : all 500ms;