.chart-grid {
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    place-items: center;
    width: 84vw;
    height: 50vw;
    margin: 30px auto;
}



.chart {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;


    & #chart-icon-trophy {
        position: absolute;
        top: 32px;
        left: 32px;
        width: 21px;
        cursor: pointer;
    }

    & .chart-text-flex {
        display: flex;
        font-size: 19px;
        padding-top: 32px;
        padding-left: 69px;
        cursor: pointer;
        user-select: none;

        & p {
            letter-spacing: 1px;
        }

        & p:first-child {
            font-weight: 900;
            padding-right: 10px;

        }

        & p:last-child {
            font-size: 18px;
            font-weight: 500;
            margin-top: 1px;
        }

    }

    & #chart-icon-chevron {
        position: absolute;
        top: 35px;
        left: 255px;
        width: 9px;
        cursor: pointer;
    }

}


