.home {
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;

    // home #큰제목들
    & .home-text {
        @include set-main-playlist-text;
    }
}

// home 대문 텍스트
.home-text-box {
    & p {
        position: relative;
        top: 90px;
        left: 20px;
        line-height: 5vw;
        font-size: 4vw;
        font-weight: 700;
        letter-spacing: 10px;
    }
}
