.home {
    position: relative;
    margin-bottom: 500px;
    overflow: hidden;

    & p {
        position: relative;
        top: 10px;
        font-size: 2em;
        font-weight: 600;
    }

}


.home-text-box {
    & p {
        position: relative;
        top: 90px;
        left: 20px;
        line-height: 5vw;
        font-size: 4vw;
        font-weight: 700;
        letter-spacing: 10px;
    }
}
