.musicvideo-grid-box {
    width: 99%;
    height: 900px;
    display: grid;
    grid:
      "header" 40%
      "main" 1fr
      / 1fr;
    gap: 30px;
    margin: 13px 13px;
    &.header { grid-area: header; }
    &.main { grid-area: main; }
  }
  