.playlist-textbox {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-top: 30px;

    & .playlist-h1 {
        @include set-main-playlist-text;
    }

    & #playlist-chevron {
        margin-top: 33px;
        margin-left: 20px;
    }
}

.playlist-albums-container {
    display: flex;
    margin-left: 2vw;
    width: 209px;
    margin-bottom: 60px;
    

}

.playlist-box {
    position: relative;
    @include set-album-size;
    margin-top: 1vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
    transition: $transition-time;

    & .playlist--album-img {
    @include set-album-size;
    }

    & p {
        display: block;
        position: relative;
        text-align: center;
        @include set-album-title;
    }
}

.playlist--album-hover {
    position: absolute;
    left: 4px;
    width: 13.5vw;
    height: 13.5vw;
    transition: $transition-time;

    &:hover {
        background-color: #36363673;
        cursor: pointer;
    }
}

.playlist-button2 {
    position: absolute;
    top: 9vw;
    left: 1vw;
    width: 3vw;
    z-index: 10;
    transition: $transition-time;

    & ellipse:hover {
        transition: $transition-time;
        fill-opacity: 1;
    }
}

.playlist-etc2 {
    position: absolute;
    top: 11vw;
    right: 1.5vw;
    z-index: 10;
    width: 2vw;
    transition: $transition-time;

    & path:hover {
        transition: $transition-time;
        fill-opacity: 1;
    }
}
