.playlist-textbox {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-bottom: 30px;

    & .playlist-h1 {
        margin-top: 30px;
        margin-left: 40px;
        font-family: "Pretendard";
        letter-spacing: 5px;
    }

    & #playlist-chevron {
        margin-top: 38px;
        margin-left: 20px;
    }
}

.playlist-albums-container {
    display: flex;
    margin-left: 70px;
    width: 209px;

    // & .playlist-albums {
    // }


}


.playlist-box {
    margin-right: 50px;

    & img {
        width: 260px;

    }

    & p {
        display: block;
        position: relative;
        text-align: center;
        font-size: 23px;
        font-weight: 600;
        letter-spacing: 3px;
    }
}