/*-------------------------------------*/
/*-------------------------------------*/

/*

top-banner component

┌────────────────────────────────────────┐
│                          ┌────┬────┐   │
│                          │    │    │   │
│                          ├────┼────┤   │
│  my musicfriend's        │    │    │   │
│  playlist                └─── ▶️ 🔗 +  │
└────────────────────────────────────────┘

*/

/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/

/*
┌────────────────────────────────────────┐
│                                        │
│         image box container            │
│                                        │
└────────────────────────────────────────┘
*/

.home-main-img {
    @include set-main-banners-layout;

    & .home-img-box {
        @include set-main-banners-bg-size;
    }
}

/*-------------------------------------*/
/*-------------------------------------*/

/*-----▶️ 🔗 + ------*/
.home-icon {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 2vh;
    right: 3vw;
    width: 9vw;
    height: 2vw;
    margin: 65px;
    scale: 1.5;
    gap: 20px;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.397));
    cursor: pointer;
    transition: $transition-time;
    z-index: 5;

    // hover
    & :hover {
        filter: drop-shadow(0px 0px 2px #f7f7f7a1);
    }
}
/*-------------------------------------*/
/*-------------------------------------*/
// '내 음악친구의 추천 플레이리스트' 텍스트
.home-text-box {
    position: absolute;
    bottom: 130px;
    left: 25px;
    line-height: 70px;
    user-select: none;
}

/*-------------------------------------*/
/*-------------------------------------*/
// 배너 앨범이미지
/* 
  ┌────────┬────────┐
  │        │        │
  │        │        │
  ├────────┼────────┤
  │        │        │
  │        │        │
  └────────┴────────┘
*/
.albums-image {
    position: absolute;
    top: 3vw;
    right: 160px;
    height: 17vw;
    width: 17vw;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
