// #큰제목


// 앨범 5개 사이 간격
.home-album-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.album-info-flexbox {
    display: flex;
    flex-direction: column;

    .home-album {
        position: relative;
        width: 14vw;
        height: 14vw;

    }

    // & :hover {
    //     filter: brightness(0.5);
    //     cursor: pointer;
    // }




    //앨범 정보
    .album-info {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        font-family: "Pretendard";

        & p {
            text-align: center;
            line-height: 25px;
        }

        //앨범
        & p:first-child {
            font-weight: 800;
            font-size: 1.1vw;
            letter-spacing: 3px;
        }
        //아티스트
        & .album-info-artist {
            font-weight: 300;
            font-size: 0.8vw;
            letter-spacing: 3px;
            color: #606060;
        }
    }
}

// 추천 플레이리스트, 장르별 추천 앨범들 내용 text
.title-bold {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 3px;
}

.hover-area {
    position: absolute;
    width: 14vw;
    height: 14vw;
    transition: all 500ms;

    &:hover {
        background-color: #36363673;
        cursor: pointer;
    }
}