// 왼쪽 sidebar 하단 버튼 두개

/*-----------------------------*/
/* sidebar/bottom/components/two_button */

/*  ┌────────────┐
    │ 이용권 구매 │
    └────────────┘  
    ┌────────────┐
    │    Event   │
    └────────────┘ */

/*-----------------------------*/
/*-----------------------------*/

// 버튼 컨테이너
.sidebar--button--container {
    position: sticky;
    display: block;
    width: 100%;
    height: 120px;
}

.sidebar-button {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 0 auto;
    top: 20%;
    transform: translateY(-50%);

    /*-----------------------------*/
    /*-----------------------------*/
    /*-----------------------------*/
    /*  
    ┌────────────┐
    │ 이용권 구매 │
    └────────────┘ */
    // sidebar의 <이용권 구매> 버튼 틀
    & .ticket {
        display: flex;
        padding: 10px;
        background-color: $main-color;
        cursor: pointer;
        transition: all 300ms;
        @include set-button;

        // ticket icon img //
        & img {
            position: relative;
            top: 0;
            left: 1vh;
        }

        // '이용권 구매' 텍스트
        & span {
            color: #fff;
            font-family: "Pretendard";
            font-size: 14px;
            font-weight: 600;
            margin-top: 0px;
            margin-left: 18px;
            letter-spacing: 3px;
        }

        // mouse hover
        &:hover {
            background-color: $main-color-hover;
        }
    }
    /*-----------------------------*/
    /*-----------------------------*/
    /*-----------------------------*/
    /*
    ┌────────────┐
    │    Event   │
    └────────────┘ */

    // sidebar의 <이벤트> 버튼 틀
    & .event-button {
        margin-top: 10px;
        padding: 10px;
        background-color: $main-color2;
        cursor: pointer;
        transition: all 300ms;
        @include set-button;

        // '이벤트' 텍스트
        & span {
            font-family: "Pretendard";
            font-size: 14px;
            font-weight: 600;
            margin-top: 0px;
            letter-spacing: 2px;
        }

        // mouse hover
        &:hover {
            background-color: $main-color2-hover;
        }
    }
    /*-----------------------------*/
    /*-----------------------------*/
}

// home의 playlist button

.playlist-button {
    position: absolute;
    top: 10.2vw;
    left: 1vw;
    width: 3vw;
    z-index: 10;
    transition: all 500ms;

    & rect:hover {
        fill: #fff;
    }
}

.playlist-etc {
    position: absolute;
    top: 11.5vw;
    right: 1.5vw;
    width: 2vw;
    z-index: 10;
    transition: all 500ms;
}

//today의 button
.today-button-container {
    position: absolute;
    bottom: 0.6vw;
    left: 4vw;

    #today-play {
        width: 12vw;
        height: auto;
        margin-right: 30px;
        filter: drop-shadow(0px 20px 11px #00000081);
        transition: all 500ms;

        & rect:hover {
            fill: #3029ff;
            cursor: pointer;
        }
    }

    #today-shuffle {
        position: absolute;
        top: -1px;
        width: 15vw;
        height: auto;
        filter: drop-shadow(0px 20px 11px #00000081);

        & rect:hover {
            fill: #c2fcdf;
            cursor: pointer;
        }
    }
}
