.sidebar--button--container {
    display: block;
    position: sticky;
    width: 200px;
    height: 140px;
    margin: auto;
    bottom: -20px;
    border-radius: 10px;
    background-color: #e5e5e5;
}


.sidebar-button {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;


    & .ticket {
        display: flex;
        padding: 10px;
        background-color: #231edc;
        cursor: pointer;
        @include set-button;

        & img {
            position: relative;
            top: 0.1vh;
            left: 1vh;
        }

        & span {
            color: #fff;
            font-size: 1em;
            font-weight: 600;
            margin-top: -1px;
            margin-left: 3vh;
            letter-spacing: 3px;
        }
    }

    & .event-button {
        margin-top: 10px;
        padding: 10px;
        background-color: #aff7d4;
        cursor: pointer;
        @include set-button;

        & span {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2px;
        }
    }
}