.chart-album-flaxbox {
    display: flex;
    flex-direction: column;

}

.chart-album-flax {
    display: flex;
    align-items:flex-start;
    width: 13.5417vw;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    

    & .chart-album-cover {
        width: 6.2500vw;
        height: 6.2500vw;
        border: 4px solid $main-color;
    }

    & .chart-album-textbox {
        margin-left: 1.0417vw;
        margin-top: 0.5vw;
        line-height: 0.7vw;

        & .chart-text {
            font-family: $default-font;
        }

        & :first-child {
            font-size: large;
            font-weight: 700;
        }


        & :nth-child(3) {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
        }

        & :last-child {
            margin-top: 5px;
            font-size: 12px;
        }
    }
}

.chart-next-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 10.4167vw;
    height: 34.9479vw;
    top: 140px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    opacity: 0;
    transition: $transition-time;
    &:hover {
       opacity: 1;
    }
    .chart-next-button {
        position: absolute;
        top: 1.0417vw;
        cursor: pointer;
        & path:hover {
            fill-opacity: 1;
         }
    }

}



.chart-prev-button-box {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.4167vw;
    height: 34.9479vw;
    top: 140px;
    left: 250px;
    z-index: 99;
    cursor: pointer;
    opacity: 0;
    transition: $transition-time;
    
    &:hover {

       opacity: 1;
    }


    .chart-prev-button {
        position: absolute;
        top: 20px;
        cursor: pointer;

        & path:hover {
            fill-opacity: 1;
         }
    }

}
