.login-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 120px;
    margin-left: 15px;
    margin-right: 35px;

    & #profile {
        width: 50px;
        margin: 10px;
    }

    & p {
        font-size: 1vw;
        letter-spacing: 3px;
        width: 60px;
        text-align: center;
    
    }
}