.musicbar-slider_container {
    width: 700px;

    & .musicbar-time {
        position: absolute;
        top: 42px;
        margin-left: 10px;
    }

    & .musicbar-time:last-child {
        position: absolute;
        top: 42px;
        margin-left: 670px; 
    }

    & .musicbar-slider {
        position: absolute;
        width: 600px;
        height: 8px;
        -webkit-appearance: none;
        // background-color: $main-color;
        border-radius: 10px;

        // 희안하게 1px씩 빼야 맞는다.
        top: 46px;
        margin-left: 54px;
        z-index: 4;
    }

    & .musicbar-range_track {
        position: absolute;
        top: 46px;
        margin-left: 55px;
        width: 600px;
        height: 8px;
        background-color: #8482E1;
        border-radius: 10px;
    }
  
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

}

.musicbar-slider_container:hover input[type="range"]::-webkit-slider-thumb {
    width:20px;
    height: 20px;
    border: 1px solid blue;
    border-radius: 50%;
    background: #ffffff8a;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}