/*-------------------------*/
/*---- ↻  ◁  ▶ ▷  ↺ ----*/
/*-------------------------*/
.music-play-button {
    position: relative;
    display: flex;
    width: 155px;
    justify-content: center;
    @include center-alignment;
    left: 220px;
  
    & > *  {
      position: relative;
      margin-right: 10px;
      cursor: pointer;
    }



    & :not(#play) {
      top: 15px;
    }

  
    & #music-play-button-random {
      width: 17px;
      top: 16px;
    }
  
    & #music-play-button-reverse {
    }
  
    & #play {
      fill-opacity: 0.5;
      transition: all 5000ms;

      & :hover {
        fill-opacity: 1;
      }
    }
  
  
    & #music-play-button-forward {
    }
  
    & #music-play-button-repeat {
  width: 17px;
  top: 16px;
    }
  }
  
  .blur {
    position: relative;
    top: 25px;
    left: -28px;
    width: 100px;
    height: 48px;
    background-color: $main-color;
    z-index: -5;
    border-radius: 50%;
    filter: blur(15px);
  }
  