/*-------------------------*/
/*---- ↻  ◁  ▶ ▷  ↺ ----*/
/*-------------------------*/
.music-play-button {
    position: relative;
    left: 160px;
  
    & img {
      position: relative;
      margin-right: 10px;
      cursor: pointer;
    }
  
    & img:first-child {
      top: -12px;
      margin-right: 15px;
    }
  
    & img:nth-child(2) {
      top: -7px;
    }
  
    & img:nth-child(3) {
      top: 10px;
  
    }
  
  
    & img:nth-child(4) {
      top: -7px;
    }
  
    & img:last-child {
      top: -12px;
      margin-left: 4px;
  
    }
  }
  
  .blur {
    position: relative;
    top: 25px;
    left: -20px;
    width: 100px;
    height: 48px;
    background-color: $main-color;
    z-index: -5;
    border-radius: 50%;
    filter: blur(15px);
  }
  