/*-------------------------*/
/*---- ↻  ◁  ▶ ▷  ↺ ----*/
/*-------------------------*/
.music-play-button {
    position: relative;
    display: flex;
    padding-top: 10px;
    width: 170px;
  
    & > *  {
      position: relative;
      margin-right: 10px;
      cursor: pointer;
    }



    & :not(#play) {
      top: 20px;
    }

  
    & #music-play-button-random {
      width: 17px;
      top: 21px;
    }
  
    & #music-play-button-reverse {
    }
  
    & #play {
      
      & :hover {
      }
    }
  
  
    & #music-play-button-forward {
    }
  
    & #music-play-button-repeat {
  width: 17px;
  top: 21px;
    }


    .blur {
      position: absolute;
      left: 33px;
      width: 100px;
      height: 35px;
      background-color: $main-color;
      z-index: -5;
      border-radius: 50%;
      filter: blur(14px);
    }
    
  }
  
