

//content 영역의 스크롤바 색
.content::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff1a;
  }
  
  .content::-webkit-scrollbar-thumb {
    background-color: #dbdbdb33;
    border-radius: 10px;
  }


/*-----sidebar의 스크롤 영역-----*/
.sidebar-contents {
    overflow-x: hidden;
    width: 236px;
  
    & .scroll-content {
      width: 500px;
      display: block;
      margin-top: 2vh;
      padding-bottom: 30px;
      background-color: $light-sub-color;
    }
  }
  


  //sidebar 영역의 스크롤바 색
.scrollbar-track {
    background-color: #ffffff1a !important;
}

