
.seach-icon {
    position: absolute;
    top: 154px;
    left: 39px;
    z-index: 60;
}

input {
    position: sticky;
    top: 0px;
    display: block;
    color: #231edc;
    background-color: #fff;
    margin: 0 auto;
    height: 40px;
    width: 80%;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    border-radius: 5px;
    z-index: 50;
}
