
/*----------------------*/
/*
sidebar/top/components/search_bar
┌──────────────────────┐                     
🔎 │ search bar                   
└──────────────────────┘
*/
/*----------------------*/

.search-container {
    position: sticky;
    padding-top: 15px;

    /*----🔎 icon-----*/
    & .search-icon {
        position: absolute;
        display: block;
        top: 23px;
        left: 35px;
        z-index: 60;
    }
    

    & input {
        position: sticky;
        display: block;
        color: $main-color;
        background-color: #fff;
        margin: 0 auto;
        height: 40px;
        width: 80%;
        padding-left: 40px;
        padding-right: 10px;
        padding-bottom: 1px;
        margin-bottom: 20px;
        border-radius: 5px;
        z-index: 50;
    }
    


}
