.self-ui-switch {
    display: none;
    position: relative;
    top: 25px;
    vertical-align: top;

    & .switch-input {
        height: 0;
        width: 0;
        display: none;
    }   

    & .switch-label {
        position: relative;
        width: 100px;
        height: 50px;
        background-color: #969696;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.2s;
    }

    & .self-ui-switch-button {
        position: absolute;
        height: 46px;
        width: 46px;
        top: 26%;
        left: 2px;
        border-radius: 46px;
        transform: translateY(-50%);
        background-color: #fff;
        transition: all 0.2s;
        box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
    }

    & .switch-input:checked {
        left: calc(100% - 2px);
        transform: translateX(-100%) translateY(-50%);
    }


    & .self-ui-switch-button:active {
        width: 60px;
        left: calc(100% - 2px);
        transform: translateX(-100%) translateY(-50%);
    }

}