.content {
  position: relative;
  top: 0px;
  display: block;
  grid-area: 2 / 2 / 4 / 10;
  background-color: $light-main-color;
  width: 100%;
  height: 80%;
  min-height: calc(100vh - 100px);
  @include set-container-style;
  }