.content {
  position: relative;
  display: block;
  background-color: $light-main-color;
  grid-area: content;
  overflow-y: auto;
  height: 101%;
  width: 100%;
  @include set-container-style;
 
  }


.content::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.content::-webkit-scrollbar-thumb {
  background-color: #dbdbdb57;
  border-radius: 10px;
}