/*------------------------------------*/
/*------------------------------------*/
/*------------footer layout-----------*/
/*------------------------------------*/
/*------------------------------------*/

/*
┌───────────────────┐                                
│▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓│                                
│───────────────────│                                
│ ≡≡≡≡≡≡≡≡≡≡≡≡≡     │                                
│ ≡≡≡≡≡≡≡≡          │    
│ αα║αα      αααααα │
│                   │             
│░░░ ░░░ ░░░ ░░░ ░░░│                                
└───────────────────┘
*/ 

/*------------------------------------*/
/*------------------------------------*/
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 455px;
    margin: 0 auto;
    margin-bottom: 20px;
}
/*------------------------------------*/
/*------------------------------------*/

/* 
footer top menu
┌───────────────────┐                                
│▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓│

*/
.footer--menu {
    display: flex;
    margin-bottom: 20px;
    font-size: 13px;
    padding: $footer-padding;
    background-color: black;
    letter-spacing: 2px;
    cursor: pointer;

    //-----footer top menu text-----
    & p {
        padding-left: 7px;
        display: block;
        position: relative;
        color: #fff;
        margin: 0 10px;
    }

    //---------------------------------
    // --Footer | top | menu | 구분선 --
    //---------------------------------

    & p:nth-child(n + 2) {
        position: relative;
        margin-left: 5px;
        padding-left: 18px;
    }

    & p:nth-child(n + 2)::after {
        position: absolute;
        left: 0;
        top: 2px;
        content: "";
        width: 1px;
        height: 10px;
        background-color: #fff;
    }
}

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*
footer contents

│───────────────────│                                
│ ≡≡≡≡≡≡≡≡≡≡≡≡≡     │                                
│ ≡≡≡≡≡≡≡≡          │    
│ αα║αα      αααααα │
│───────────────────│

*/
.footer--contents {
    display: flex;
    flex-direction: column;
    color: #000000;


    & .footer-text {
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 30px;
        margin-left: 15px;
        padding: $footer-padding;
        padding-bottom: 35px;
    }

    & .customer-service {
        display: flex;
        padding: $footer-padding;
        background-color: #ffffff;
        color: #000000;
        font-size: 15px;

        & p {
            line-height: 40px;
            letter-spacing: 2px;
            width: 240px;
            text-align: center;

            //---------------------------------
            // --- 고객센터 | FAQ | 구분선 -----
            //---------------------------------

            &:nth-child(n + 2) {
                position: relative;
                margin-left: 5px;
                padding-left: 25px;
            }
        
            &:nth-child(n + 2)::after {
                position: absolute;
                left: 0;
                top: 13px;
                content: "";
                width: 2px;
                height: 15px;
                background-color: #a0a0a0;
            }
        }

        & p:first-child,
        p:nth-child(2) {
            font-weight: 600;
        }

        & p:nth-child(2) {
            text-align: left;
            width: 140px;
        }

        // '본 브라우저는 chrome 브라우저에 최적화되어있습니다' text
        & .chrome {
            position: relative;
            right: 0;
            color: #696969;
            width: 80%;
            height: 30px;
            text-align: end;
        }
    }

}

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*
--------------------
--하단 인증서 모음집--
│                   │             
│░░░ ░░░ ░░░ ░░░ ░░░│                                
└───────────────────┘
----------------------
*/
.certificate {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding-top: $footer-padding;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 20px;
    cursor: pointer;

}

/*------------------------------------*/
/*------------------------------------*/