.header {
  display: flex;
  position: relative;
  grid-area: header;
  background-color: $light-main-color;
  width: 100%;
  height: 110px;
  @include set-container-style;

  & .header-logo {

    margin-left: 70px;

  }

}


.header-right {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 200px;
  cursor: pointer;
}
