
/*--------------------*/
/*
┌─────────────────────────┐
│         header          │
└─────────────────────────┘
*/
/*--------------------*/

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  grid-area: header;
  background-color: $light-main-color;
  width: 100%;
  height: 98px;
  @include set-container-style;


  // 소리바다 로고 

  & .header-logo {
    height: 103px;
    margin-left: 75px;
  }

}


// 헤더의 맨 오른쪽 
/*-----------------*/

.header-right {
  display: flex;
}


.setting-container {
  height: 100%;
  width: 20px;
  margin-right: 20px;
  & .setting {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
  }
}
