

.music-bar {
  display: flex;
  position: fixed;
  grid-area: footer;
  bottom: 8px;
  background-color: #e5e5e5;
  width: 99%;
  height: 100px;
  @include set-container-style;

  & .album-frame {
    position: relative;
    top: 18px;
    left: 20px;
    width: 60px;
    height: 60px;
    border: 2px $main-color solid;
    border-radius: 5px;
  }

  & .song-by {
    position: relative;
    left: 40px;
    padding-top: 30px;
    user-select: none;

    & p {
      font-size: 15px;
    }
    & p:first-child {
      font-weight: 600;
    }
  }
}

.left-icon {
  position: absolute;
  top: 37px;
  transform: translateY(-50%);
  left: 142px;

  & img {
    width: 16px;
    height: 16px;
    margin-right: 20px;
    cursor: pointer;
  }
  & svg {
    width: 16px;
    height: 16px;
    margin-right: 20px;
    cursor: pointer;

  }


}

