.music-bar {
  display: flex;
  position: fixed;
  grid-area: footer;
  bottom: 8px;
  background-color: #e5e5e5;
  width: 99%;
  height: 100px;
  @include set-container-style;

  & .album-frame {
    position: relative;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border: 2px $main-color solid;
    border-radius: 5px;
  }

  & .song-by {
    position: relative;
    left: 40px;
    padding-top: 30px;

    & p {
      font-size: 15px;
    }
    & p:first-child {
      font-weight: 600;
    }
  }
}

.left-icon {
  position: absolute;
  top: 37px;
  transform: translateY(-50%);
  left: 135px;

  & img {
    width: 16px;
    height: 16px;
    margin-right: 20px;
    cursor: pointer;
  }
}

.music-play-button {
  position: relative;
  left: 160px;

  & img {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }

  & img:first-child {
    top: -12px;
    margin-right: 15px;
  }

  & img:nth-child(2) {
    top: -7px;
  }

  & img:nth-child(3) {
    top: 10px;
  }

  & img:nth-child(4) {
    top: -7px;
  }

  & img:last-child {
    top: -12px;
    margin-left: 4px;

  }
}

.blur {
  position: relative;
  top: 25px;
  left: -20px;
  width: 100px;
  height: 48px;
  background-color: $main-color;
  z-index: -5;
  border-radius: 50%;
  filter: blur(15px);
}
