.music-bar {
  display: flex;
  position: fixed;
  grid-area: footer;
  bottom: 8px;
  background-color: $light-sub-color;
  width: 99%;
  height: 100px;
  @include set-container-style;


  // width랑 height 60px 믹스인이나 변수처리하기 
    & .album-frame {
      position: relative;
      top: 18px;
      margin: 0 $common-margin 0 $common-margin*2;
      width: 60px;
      height: 60px;
      border: 2px $main-color solid;
      border-radius: 5px;
    }
  

  & .song-by {
    position: relative;
    width: 95px;
    user-select: none;
    margin: auto $common-margin/2 ;
    & p {
      font-size: 12px;
      text-align:left;
    }
    & p:first-child {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.left-icon {
  display: flex;
  flex: 0 0 90px;
  position: relative;
  width: 90px;
  margin: auto $common-margin;
  justify-content: space-between;
  & svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}
