.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  grid-area: sidebar;
  background-color: $light-sub-color;
  width: $sidebar-width;
  height: 101%;
  padding-top: 0px;
  overflow: hidden;
  @include set-container-style;
}


.scroll-content {
  height: 550px;
  width: $sidebar-width;
  color: #000;
}

.sidebar-contents {
  position: relative;
  height: 502px;
  width: $sidebar-width;
  left: -5px;
  overflow:hidden;
  color: #000;

  & p {
    position: relative;
    left: 2px;
    display: flex;
    color: #000;
    width: 50%;
    height: 20px;
    transition: all 100ms;
    line-height: 20px;
    font-weight: 800;
    padding-top: 8px;
    padding-bottom: 10px;
    letter-spacing: 2px;

    & >span {
      display: block;
      position: relative;
      font-size: 14px;
      font-weight: 700;
      top: 2px;
      left: 85px;
    }

    &:hover {
      color: #fff;
      background-color: $main-color;
      cursor: pointer;
    }

    // 기존의 span 태그를 없애고 얘로 대체할 것 (router때문)
    & a {
      display: inline-block;
      position: relative;
      width: 227px;
      height: 36px;
      font-size: 14px;
      font-weight: 700;
      top: -8px;
      left: 4px;
      //indent는 padding을 주지 않고도 a태그 내에서 들여쓰기로 공백이 가능함 개꿀태그!
      text-indent: 80px;
      transition: all 100ms;
      
      & .sidetext {
        display: block;
        position: absolute;
        top: 10px;
        left: 16px;
      }
      & svg {
        position: relative;
        top: 10px;
        left: -23px;
        width: 16px;
      }

      &:hover > svg path {
        fill: #fff;
      }
      &:hover {
        color: #fff;
        background-color: $main-color;
        cursor: pointer;
      }
    }

    & svg {
      position: relative;
      top: 2px;
      left: 60px;
      width: 16px;
    }

    &:hover > svg path {
      fill: #fff;
    }

    /*------------------------------------------*/
    /*---------------sns icons------------------*/
    /*------------------------------------------*/
  }

  & .sns-icon {
    position: relative;
    width: 140px;
    padding-bottom: 15px;
    margin-bottom: 2vw;
    left: 54px;
    bottom: 10px;
    cursor: pointer;

    & img {
      padding: 9px;
      margin: 0 auto;
    }

    & img:last-child {
      position: relative;
      top: -4px;
    }
  }
}

/*------구분선-------*/
hr {
  position: relative;
  background-color: #c2c2c2;
  margin-top: 20px;
  margin-bottom: 20px;
  right: 130px;
  border: 0;
  width: 15vh;
  height: 1px;
}

/*-----sidebar의 스크롤-----*/
.sidebar-contents {
  overflow-x: hidden;
  width: 236px;

  & .scroll-content {
    width: 500px;
    display: block;
    margin-top: 2vh;
    padding-bottom: 30px;
    background-color: #e5e5e5;
  }
}

