.today-check_box_select_all_box {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center;

    & .today-check_box_select_all {
        appearance: none;
        // background-color: #fff;
        margin: 0;
        color: currentColor;
        width: 28px;
        height: 28px;
        border: 2px solid #808080;
        border-radius: 0.15em;
        cursor: pointer;
    }

    & label {
        margin-left: 60px;
        font-size: 24px;
        font-weight: 600;
    }
}

.today-NewJeans_All_Check {
    position: absolute;
    width: 28px;
    height: 28px;
}


.today-NewJeans_Check {
    position: absolute;
    width: 26px;
    height: 26px;
    margin-top: 91px;
    margin-left: 51px;
    z-index: 1;
    background-color: #fff;
}


.today-NewJeans_select_box {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    align-items: center;
    width: 100%;



    & .today-cover_img_container {
        position: relative;
        width: 5.2083vw;
        height: 5.2083vw;
        border: 4px solid $main-color;
        margin-right: 4vw;

        & .today-NewJeans_cover_img {
            width: 5.2083vw;
            height: 5.2083vw;
        }
    }

    & .today-NewJeans_title {
        display: block;
        width: 180px;
        margin-right: 15.62vw;
        font-size: 30px;
        letter-spacing: 5px;
        font-family: 'Pretendard';
    }

    & h3 {
        display: block;
        width: 10px;
        margin-right: 10vw;
        font-size: 26px;
        font-weight: 200;
        font-family: 'Pretendard';

    }

    & .today-album_text {
        display: block;
        width: 9vw;
        font-size: 1.3542vw;
        margin: 0 auto;
    }

    & .today-Kebab_menu {
        cursor: pointer;
    }
    
}

.today-newJeans_check_box_container {
    display:flex;
    height: 200px;

    .today-NewJeans_check_box {
        position: relative;
        appearance: none;
        flex: 0 0 28px;
        color: currentColor;
        width: 28px;
        height: 28px;
        border: 2px solid #808080;
        border-radius: 0.15em;
        margin-top: 90px;
        margin-left: 50px;
        margin-right: 2vw;
        cursor: pointer;
        z-index: 1;
    }

}


.today-kebab_container {
width: 100px;
}